<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/black/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/black/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/black/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/black/site.webmanifest">

    <title>TOUTCLOUT | Branding & Advertising Consultant</title>
    <meta
        content="We build powerful brand ecosystems that help business to evolve and thrive. Brand Strategy | Brand Identity | Brand Positioning | Consumer Insights in Delhi NCR"
        name="description" />
    <meta content="Brand Ecosystem, Digital Strategy, Website & Technology" name="keywords" />
    <meta content="Brand Ecosystem & Strategy | TOUTCLOUT" />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Slick Slider Stylesheets -->
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">
    <!--  Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
</head>

<body class="branding">
    <div class="cursor cursor--small"></div>
    <a onclick="topFunction()" id="backToTop" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </a>
    <canvas class="cursor cursor--canvas" resize></canvas>

    <!-- Enquiry Form -->
    <div class="enquireForm">
        <div class="enquireForm__tab">
            <div class="enquireForm__tab-heading">
                Talk to us
            </div>
            <a class="enquireForm__tab-icon">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
        <form class="enquireForm__form" id="enquireForm__form">
            <div class="enquireForm__body">
                <!-- Success -->
                <div class="success_block" v-show="submitStatus === 'OK' && !emailSending">
                    <p class="typo__p">Thank you for reaching out to us! <br> We will get in
                        touch with
                        you shortly.</p>
                    <button class="query__btn" :disabled="submitStatus === 'PENDING' ? true : false" id="query-btn"
                        @click="resetForm">Have a new query ?</button>
                </div>
                <div v-show="!(submitStatus === 'OK' && !emailSending)">
                    <p>Please fill in the details below.</p>
                    <!-- Name -->
                    <div class="floating-label-group">
                        <input type="text" class="form-control enquireForm-input" id="enquiryForm__name" placeholder="Name"
                            ref="name" v-focus="isElementFocused['name']" @focus="isElementFocused['name'] = true"
                            v-model.trim="name" @mouseover="areAnyElementsHovered = true"
                            @mouseout="areAnyElementsHovered = false" required>
                        <label class="floating-label">Name</label>
                        <div class="floating-input-error" v-if="isElementFocused['name']">
                            <div class="error name-error" v-if="!$v.name.required">Please enter your name.</div>
                            <div class="error name-error" v-if="!$v.name.minLength">
                                Your name must have
                                at least {{$v.name.$params.minLength.min}} letters.</div>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="floating-label-group">
                        <input type="text" class="form-control enquireForm-input" id="enquiryForm__email"
                            placeholder="Email" ref="email" v-focus="isElementFocused['email']"
                            @focus="isElementFocused['email'] = true" v-model.trim="email"
                            @mouseover="areAnyElementsHovered = true" @mouseout="areAnyElementsHovered = false" required>
                        <label class="floating-label">Email</label>
                        <div class="floating-input-error" v-if="isElementFocused['email']">
                            <div class="error email-error" v-if="!$v.email.required">
                                Please provide your
                                email address.</div>
                            <div class="error email-error" v-if="!$v.email.maxLength">
                                Your email is of
                                {{$v.email.$params.maxLength.max}} letters. Too long to proceed.</div>
                            <div class="error email-error" v-if="!$v.email.email">
                                Please provide a valid e-mail address.</div>
                        </div>
                    </div>
                    <!-- Phone -->
                    <div class="floating-label-group">
                        <input type="text" class="form-control enquireForm-input" id="enquiryForm__phone"
                            placeholder="Phone" ref="phone" v-focus="isElementFocused['phone']"
                            @focus="isElementFocused['phone'] = true" v-model.trim="phone"
                            @mouseover="areAnyElementsHovered = true" @mouseout="areAnyElementsHovered = false" required>
                        <label class="floating-label">Phone</label>
                        <div class="floating-input-error" v-if="isElementFocused['phone']">
                            <div class="error phone-error" v-if="!$v.phone.required">Please provide your phone number.</div>
                            <div class="error phone-error" v-if="!this.$v.phone.isAPhoneNumber && this.phone !== ''">Please
                                provide a valid 10 digit phone number</div>
                        </div>
                    </div>
                    <!-- Message -->
                    <div class="floating-label-group">
                        <textarea rows="2" type="text" class="form-control enquireForm-input" id="enquiryForm__service"
                            placeholder="Message" ref="message" v-focus="isElementFocused['message']"
                            @focus="isElementFocused['message'] = true" v-model.trim="message"
                            @mouseover="areAnyElementsHovered = true" @mouseout="areAnyElementsHovered = false" required>
                            </textarea>
                        <label class="floating-label">Message</label>
                        <div class="floating-input-error" v-if="isElementFocused['message']">
                            <div class="error message-error" v-if="!$v.message.required">A message is
                                required to help you.</div>
                            <div class="error message-error" v-if="!$v.message.minLength">Your message
                                must have at least {{$v.message.$params.minLength.min}} letters.</div>
                        </div>
                    </div>
    
                    <!-- Submit -->
                    <button class="send-btn d-flex align-items-center enquireForm__submit"
                        :disabled="submitStatus === 'PENDING' ? true : false" @click.prevent="submit()">
                        <div v-if="submitStatus === 'PENDING'" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div v-else class="d-flex align-items-center">
                            <span>SUBMIT</span>
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <main>
        <div class="top_header">
            <div class="container">
                <div class="menu-logo">
                    <a href="/" class="menu-logo__imgAnchor">
                      <img src="assets/images/black_logo.svg" class="img-fluid logo1">
                     </a>
                    <div class="hamburger__menu">
                        <a id="btnHamburger" class="menu__toggle">
                            <span class="upperBurger"></span>
                            <span class="bun"></span>
                            <span class="lowerBurger">
                                <span class="lowerBurger__firstHalf"></span>
                                <span class="lowerBurger__secondHalf"></span>
                                <span class="lowerBurger__thirdHalf display-none"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <nav class="menu">
                    <ul class="menu-inner">
                        <li>
                            <a href="who_we_are" class="menu-link">Who we are</a>
                        </li>
                        <li class="dropdown dropdown-toggle" id="dropdownMenuButton">
                            <div class="menu-link" id="what_we_do">What we do</div>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item active-link" href="branding">Branding</a>
                                <a class="dropdown-item" href="website_design">Website</a>
                                <a class="dropdown-item" href="digital">Digital</a>
                            </div>
                        </li>
                        <li>
                            <a href="talk_to_us" class="menu-link">Talk to us</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

        <!-- section start -->
        <section id="about" class="about">
            <div class="container">
                <div class="top_content">
                    <h2>People buy complete brands and not just products!</h2>
                    <p>You can have the best product or services, the brightest workforce, and the most upscale offices or
                        stores, but all of that is for nothing if no one is aware of who you are and what value you
                        provide.
                    </p>
                    <p>
                        Hence, building brands to become synonymous with products or services is paramount to the success of any business as it
                        is the foundation to build strong identity, trust and loyalty.
                    </p>
                </div>
                <div class="row content aos-init aos-animate" data-aos="fade-up">
                    <div class="col-lg-6 my-auto">
                        <h6>
                            Branding
                        </h6>
                        <h4>The Indispensable Asset!</h4>
                        <p>"Great branding appeals to both hearts and minds"</p>
                    </div>
                    <div class="col-lg-6 text-lg-right text-md-center text-sm-center text-center d-flex justify-content-center">
                        <lottie-player src='assets/json/branding/graphic.json' background="transparent" speed="1" loop autoplay class="branding__graphic"></lottie-player>
                    </div>
                </div>
            </div>
        </section>
        <section id="services" class="services">
            <div class="container">
                <div class="section-title mb-5">
                    <p class="branding__services-heading">"A new brand or reviving an old one or adding a little extra to an existing one, we‘ve everything to make your brand standout."</p> 
                </div>
                <div class="row mobile_slider">
                    <div class="col-lg-4 col-md-6 d-flex outline-container align-items-stretch">
                        <div class="flipper">
                            <div class="main_box">
                                <div class="icon-box">
                                    <img src="assets/images/branding/service_front_1.svg" class="img-fluid">
                                    <h4>Brand Strategy</h4>
                                    <p>With powerful storytelling, crafting strategies that inspire, communicate and create lasting impact while keeping your
                                    roots intact.</p>
                                </div>
                                <div class="back_content">
                                    <img src="assets/images/branding/service.svg" class="img-fluid">
                                    <h4>Brand Strategy</h4>
                                    <p>
                                        <ul class="brand-listing">
                                            <li>Belief, Purpose and Values</li>
                                            <li>Research and Insights</li>
                                            <li>Audience Segmentation</li>
                                            <li>Brand Positioning</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex outline-container align-items-stretch mt-4 mt-md-0">
                        <div class="flipper">
                            <div class="main_box">
                                <div class="icon-box">
                                    <img src="assets/images/branding/service_front_2.svg" class="img-fluid">
                                    <h4>Brand Identity</h4>
                                    <p>Weaving the elements to create unified, coherent and memorable image that communicate the brand value to your audience
                                    effectively.</p>
                                </div>
                                <div class="back_content">
                                    <img src="assets/images/branding/services_2.svg" class="img-fluid">
                                    <h4>Brand Identity</h4>
                                    <p>
                                        <ul class="brand-listing">
                                            <li>Naming, Logo & Tagline</li>
                                            <li>Visual and Audio Identity</li>
                                            <li>Brand Messaging</li>
                                            <li>Brand Guidelines</li>
                                        </ul>                                   
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex outline-container align-items-stretch mt-4 mt-lg-0">
                        <div class="flipper">
                            <div class="main_box">
                                <div class="icon-box">
                                    <img src="assets/images/branding/service_front_3.svg" class="img-fluid">
                                    <h4>Brand Activation</h4>
                                    <p>Transforming strategies and ideas into business realties by generating brand awareness and building meaningful
                                    connections to drive consumer engagement.</p> 
                                </div>
                                <div class="back_content">
                                    <img src="assets/images/branding/services_3.svg" class="img-fluid">
                                    <h4>Brand Activation</h4>
                                    <p>
                                        <ul class="brand-listing">
                                            <li>Content Creation</li>
                                            <li>Digital and Print Media</li>
                                            <li>Brand Awareness</li>
                                            <li>Brand Management</li>
                                        </ul> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end -->
        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <a href="/">
                                <img class="footer-logo" src="assets/images/white_logo.svg" class="img-fluid">
                            </a>
                            <p>
                                <a href="mailto:hello@toutclout.com">hello@toutclout.com</a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 footer-links">
                            <div class="row circle-links">
                                <div class="col-md-4">
                                    <a href="who_we_are" class="text-center">Who we are</a>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-what-we-do">What we do</div>
                                    <ul>
                                        <li><a href="branding">Branding</a></li>
                                        <li> <a href="website_design">Website</a></li>
                                        <li><a href="digital"> Digital</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <a href="talk_to_us" class="text-center">Talk to us</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links footer-inner">
                            <div class="social-links">
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="foote_img">
                    <img src="assets/images/footer/footer_big_circle.svg">
                    <img src="assets/images/footer/light_half_circle.svg">
                    <img src="assets/images/footer/footer_circle.svg">
                    <img src="assets/images/footer/footer_img.svg">
                </div>
                <div class="container">
                    <div class="footer_copyright">
                        <ul class="d-flex">
                            <li><a href="#" class="">Terms & Conditions</a></li>
                            <li><a href="#" class="">Privacy Policy</a></li>
                        </ul>
                        <p>©2021 TOUTCLOUT LLP. All Rights Reserved</p>
                    </div>
                </div>
            </div>
    </main>
    </footer><!-- End Footer -->
    <!-- <div id="preloader"></div> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.6/dist/vuelidate.min.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.6/dist/validators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-focus/2.1.0/vue-focus.js"></script>
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <!-------Slick slider js---------> 
    <script type="text/javascript" src="assets/js/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"
        integrity="sha512-ovjLI1ZcZe6bw+ImQ21r+sv8q/Vwob2kq7tFidK6E1LWfi0T4uobbmpfEU1//a9h9o5Kkt+MnMWf6rWlg0EiMw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/branding.js"></script>
</body>

</html>